<h1><%= @user.name %> さんのマイページ</h1>
<br>
<h2>このページで出来るようにすること</h2>
<p>契約情報の一覧表示/契約日・サービス名・料金</p>
<p>新しく契約情報を登録することができる</p>
<p>自分の投稿一覧が見れる・投稿ページへ遷移できる</p>


<h2>あとで追加すること</h2>
<p>契約情報を編集することができる（解約日を入れられる）</p>
<p>課金の総額がサービス単位で分かったり、総額の履歴が分かったりする</p>
<p></p>