<%= render 'layouts/flash_messages' %>

<%= link_to "投稿する", new_post_url %>

<h2>TOPページ</h2>
<p>ページ左上はロゴ、右上は新規登録・ログイン・マイページボタン・ログアウトボタン</p>
<p>何ができるサイトなのかを記載</p>
<p>投稿が一部表示されている</p>
<p>投稿一覧ページへ飛ぶことができる</p>
<p>投稿するページへ飛ぶことができる</p>
<p></p>