/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

* {font-family: 'M PLUS 1p', sans-serif;}

// .mw-md {
//    max-width: 400px;
//  }

.container-login {
  @extend .container-fluid;
  max-width: 400px;
  padding: 2rem;
}


.alert-notice {
   @extend .alert-info;
 }

.alert-alert {
   @extend .alert-danger;
 }

.navbar {
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 4%;
  padding-left: 4%;
}

footer {
  background-color:black;
  text-align: center;
  padding: 26px 0;
  margin-top: 50px;
}

footer p {
  color: white;
  font-size: 0.9rem;
}